<footer class="site-footer h-card">
  <data class="u-url" href="{{ "
  /" | relative_url }}"></data>

  <div class="wrapper" style="position: absolute;height: 50px;text-align: center;line-height: 50px;width: 100%;">
    <div class="site-footer-inner">
      <div id="poem_sentence"></div>
      <div id="poem_info"></div>
      <div >{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}</div>
    </div>
  </div>
  <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
  <script type="text/javascript">jinrishici.load(function (result) {
    var sentence = document.querySelector("#poem_sentence")
    var info = document.querySelector("#poem_info")
    sentence.innerHTML = result.data.content
    info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
  });
  </script>
</footer>
